# 13. 데이터베이스(SQLite)

<hr/>

## 가. SQLite (공식 사이트 : http://sqplite.org)
1) 개발자
    - 리처드 힙(Richard Hipp)이 2000년 8월 발표, C언어로 개발
    - 2018년 11월 기준 최신 버전 3.25.3
    
2) 특징
    - 파일 기반의 DBMS, 저메모리, 빠른 처리 속도
    - 오픈 소스
    - 별도의 DB 서버가 없어도 쉽고 편리하게 사용할 수 있는 Embedded SQL DB 엔진
    - 안드로이드, 아이폰 등의 스마트폰에 내장된 DB
    - 표준 SQL 지원

## 나. SQLite에서 지원하지 않는 기능(https://www.sqlite.orgmitted.html)
1) RIGHT and FULL OUTER JOIN : left outer join은 가능함 <br/><br/>
2) Complete ALTER TABLE support <br/><br/>
3) Commplete trigger support <br/><br/>
4) Writing to VIEWs : 읽기전용뷰만 가능 <br/><br/>
5) GRANT and REVOKE <br/><br/>

In [1]:
import sqlite3

print(sqlite3.version) # sqlite3 모듈의 버전
print(sqlite3.sqlite_version) # 파이썬에 내장된 sqlite의 버전

2.6.0
3.26.0

In [2]:
# 테이블 생성 함수
def create_table():
    conn = sqlite3.connect("./source/database/my_books.db") # db 파일 생성 후 접ㅈ속
    cursor = conn.cursor() # 커서가 만들어짐(커서 : sql을 실행히키는 객체)
    # sql 명령어가 실행됨
    cursor.execute("""
        create table if not exists books (
            title text,
            published_data text,
            publisher text,
            pages integer,
            recommend integer
        )
    """)
    conn.commit() # db에 반영됨
    conn.close() # db 연결 종료
    
create_table()

In [3]:
# 데이터 입력 함수
def insert_books():
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성(sql을 실행시키는 객체)
    
    # 데이터 입력
    cursor.execute("insert into books values('java', '2018-02-28', '길벗', 500, 10)")
    
    
    # 데이터 입력 SQL
    sql = 'insert into books values(?, ?, ?, ?, ?)'
    # 튜플을 이용한 데이터 입력
    cursor.execute(sql, ('Python', '2018-03-04', '한빛', 584, 20))
    
    
    # 책의 정보를 담고 있는 튜플들의 리스트
    items = [
        ('빅데이터', '2014-07-02', '삼성', 296, 11),
        ('안드로이드', '2010-02-10', '영진', 526, 20),
        ('Spring', '2013-12-12', '에이콘', 248, 15)
    ]
    # 여러 데이터 입력
    cursor.executemany(sql, items)
    
    conn.commit() # 커밋
    conn.close() # db 닫기
    
insert_books()

In [4]:
# 전체 조회용 함수
def all_books():
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    cursor.execute('select * from books') # 조회용 SQL 실행
    
    print('[1] 전체 데이터 출력하기')
    
    books = cursor.fetchall() # 조회한 데이터 불러오기
    
    print(type(books)) # 자료형
    print(len(books)) # 레코드 갯수
    
    # 반복문을 이용해서 한 row씩 불러오기
    # for 개별변수 in 집합
    for book in books:
        print(book)
        
    conn.close()  # 커넥션 닫기
    
all_books()

print("=========================================================")

[1] 전체 데이터 출력하기
<class 'list'>
5
('java', '2018-02-28', '길벗', 500, 10)
('Python', '2018-03-04', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '영진', 526, 20)
('Spring', '2013-12-12', '에이콘', 248, 15)
=========================================================

In [5]:
# 일부 조회용 함수
def some_books(number):
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    cursor.execute("select * from books")
    
    # fetchall() 모든 레코드를 받아옴, fetchmany(갯수) 갯수 만큼 받아옴
    books = cursor.fetchmany(number)
    
    print(type(books)) # 자료형
    print(len(books)) # 레코드 갯수
    
    for book in books:
        print(book)
    conn.close()
        
some_books(3) # 함수 호출

<class 'list'>
3
('java', '2018-02-28', '길벗', 500, 10)
('Python', '2018-03-04', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)

In [6]:
# 하나만 조회하는 함수
def one_book():
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    cursor.execute("select * from books")
    book = cursor.fetchone() # 레코드 1개만 튜플로 리턴됨
    print(type(book))
    print(book) 
    
    conn.close()
    
one_book()

<class 'tuple'>
('java', '2018-02-28', '길벗', 500, 10)

In [7]:
# where절
def big_books():
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    cursor.execute("select title, pages from books where pages > 300 order by pages desc")
    books = cursor.fetchall() # 모든 레코드를 가져옴
    
    for book in books:
        print(book)
        
    conn.close()
    
big_books()

('Python', 584)
('안드로이드', 526)
('java', 500)

In [8]:
# update 함수
def update_books():
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    
    # 데이터 수정 SQL
    sql = 'update books set recommend=? where title=?'
    
    # 수정 SQL 실행
    cursor.execute(sql, (200, 'java'))
    
    conn.commit()
    conn.close()
    
update_books()
one_book()

<class 'tuple'>
('java', '2018-02-28', '길벗', 500, 200)

In [9]:
all_books()

[1] 전체 데이터 출력하기
<class 'list'>
5
('java', '2018-02-28', '길벗', 500, 200)
('Python', '2018-03-04', '한빛', 584, 20)
('빅데이터', '2014-07-02', '삼성', 296, 11)
('안드로이드', '2010-02-10', '영진', 526, 20)
('Spring', '2013-12-12', '에이콘', 248, 15)

In [10]:
# 삭제 함수
def delete_books():
    conn = sqlite3.connect('./source/database/my_books.db') # 데이터베이스 커넥션 생성
    cursor = conn.cursor() # 커서 생성
    
    sql = "delete from books where publisher = '삼성'"
    cursor.execute(sql)
    
    conn.commit()
    conn.close()
    
delete_books()
all_books()

[1] 전체 데이터 출력하기
<class 'list'>
4
('java', '2018-02-28', '길벗', 500, 200)
('Python', '2018-03-04', '한빛', 584, 20)
('안드로이드', '2010-02-10', '영진', 526, 20)
('Spring', '2013-12-12', '에이콘', 248, 15)

In [11]:
# 메모리에 데이터베이스 생성(in-memory database)
# conn = sqlite3.connect(":memory:")
# 파일 생성
conn = sqlite3.connect('./source/database/sales.db') # 데이터베이스 커넥션 생성
# 테이블 생성
sql = """
    create table if not exists sales(
        customer varchar(20),
        product varchar(50),
        price float,
        date date
    )
"""
conn.execute(sql)

# 레코드 추가
data = [('김철수', '배', 10000, '2018-01-02'),
        ('김민수', '사과', 20000, '2018-01-15'),
        ('김현수', '포도', 15000, '2018-02-03'),
        ('한민호', '자두', 30000, '2018-02-20')
       ]

statement = "insert into sales values(?, ?, ?, ?)"
conn.executemany(statement, data)
conn.commit()

# select query 실행
cursor = conn.execute("select * from sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

('김철수', '배', 10000.0, '2018-01-02')
('김민수', '사과', 20000.0, '2018-01-15')
('김현수', '포도', 15000.0, '2018-02-03')
('한민호', '자두', 30000.0, '2018-02-20')

In [12]:
# csv 파일로부터 읽은 데이터를 테이블에 insert
import csv
import sqlite3

input_file = './source/database/input.csv'

# sqlite database file 생성
conn = sqlite3.connect('./source/database/suppliers.db') # 데이터베이스 커넥션 생성
cursor = conn.cursor()
sql = """
    create table if not exists suppliers (
        supplier_name varchar(20),
        Invocie_number varchar(20),
        part_number varchar(20),
        cost float,
        purchase_date date
    )
"""

cursor.execute(sql)

sql = "delete from suppliers"
cursor.execute(sql)

# csv 파일에서 데이터를 읽어서 테이블에 insert
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')
print(file_reader)

# 첫 라인을 읽음(제목행)
header = next(file_reader, None)
print('header', header)
# header 이후의 2번째 행부터 끝까지 읽어들이며 insert
for row in file_reader:
    data = [] # 빈 리스트
    # idx에는 0 ~ 4가 입력됨
    for idx in range(len(header)):
        data.append(row[idx])
        
#     print(data)
    cursor.execute("insert into suppliers values (?, ?, ?, ?, ?)", data) 
conn.commit()

output = cursor.execute("select * from suppliers")
rows = output.fetchall()

for row in rows:
    output = []
    for column_index in range(len(row)):
        output.append(str(row[column_index]))
    print(output)

<_csv.reader object at 0x1088e0cf8>
header ['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [13]:
# db 업데이트
conn = sqlite3.connect('./source/database/sales.db') # 데이터베이스 커넥션 생성
conn.execute(\
            "update sales set price=?, date=? where customer=?", \
            (8000, '2017-12-31', '김철수'))
conn.commit()
cursor = conn.execute("select * from sales")
rows = cursor.fetchall()
for row in rows:
    output = [] # 비어있는 리스트
    for idx in range(len(row)):
        # 리스트.append(내용) <= 리스트에 필드가 추가됨
        output.append(str(row[idx]))
    print(output)

['김철수', '배', '8000.0', '2017-12-31']
['김민수', '사과', '20000.0', '2018-01-15']
['김현수', '포도', '15000.0', '2018-02-03']
['한민호', '자두', '30000.0', '2018-02-20']