In [1]:
# csv 파일을 읽어서 mysql 테이블에 insert
# mysqlclient 패키지를 미리 설치해야 함
# pip install mysqlclient

# csv 파일 처리 관련 모듈
import csv
# MySQL 연동을 위한 모듈
import MySQLdb
from datetime import datetime, date

# csv 파일의 경로
input_file = './source/database/input.csv'

# mysql server에 접속
conn = MySQLdb.connect(host='localhost', port=3306, db='sample', user='root', passwd=pw)
cursor = conn.cursor()

# 레코드 삭제
sql = "delete from suppliers"
cursor.execute(sql)
conn.commit()

# csv 파일을 로딩(필드 구분자는 쉼표)
file_reader = csv.reader(open(input_file, 'r'), delimiter=',')

# 제목행을 읽음
header = next(file_reader)
for row in file_reader:
    data = [] # 빈 리스트 (1개의 레코드를 저장하는 리스트)
    for idx in range(len(header)):
        # 0, 1, 2, 3 필드
        if idx < 4: # 날짜 필드(인덱스 4번)가 아닌 경우
            data.append(str(row[idx]).replace(',', '').strip())
        else: # 날짜 필드인 경우
            # strptime(문자열, 형식) : 문자열을 날짜로
            a_date = datetime.date(datetime.strptime(str(row[idx]), '%Y-%m-%d'))
            # %Y: 네자리 연도, %y : 2자리 연도
            # 날짜.strftime("형식") : 날짜를 스트링으로
            a_date = a_date.strftime('%y-%m-%d')
            data.append(a_date)
    print(data)
    cursor.execute('INSERT INTO suppliers VALUES (%s, %s, %s, %s, %s)', data)
conn.commit()

['A', '001-1001', '2341', '500000', '14-01-20']
['A', '001-1001', '2341', '500000', '14-01-20']
['A', '001-1001', '5467', '750000', '14-01-20']
['A', '001-1001', '5467', '750000', '14-01-20']
['B', '50-9501', '7009', '250000', '18-01-30']
['B', '50-9501', '7009', '250000', '18-01-30']
['B', '50-9505', '6650', '125000', '17-02-03']
['B', '50-9505', '6650', '125000', '17-02-03']
['C', '920-4803', '3321', '615000', '17-02-03']
['C', '920-4804', '3321', '615000', '17-02-10']
['C', '920-4805', '3321', '615000', '17-02-17']
['C', '920-4806', '3321', '615000', '17-02-24']

In [2]:
# sql 실행
cursor.execute("select * from suppliers")

# 실행 결과를 2차원 튜플로 받아옴
rows = cursor.fetchall()

# print(rows)
# 모든 행을 반복하면서 출력 처리
for row in rows:
    output = [] # 레코드 1개를 저장할 빈 리스트
    for idx in range(len(row)):
        output.append(str(row[idx]))
    print(output)

['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '2341', '500000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['A', '001-1001', '5467', '750000.0', '2014-01-20']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9501', '7009', '250000.0', '2018-01-30']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['B', '50-9505', '6650', '125000.0', '2017-02-03']
['C', '920-4803', '3321', '615000.0', '2017-02-03']
['C', '920-4804', '3321', '615000.0', '2017-02-10']
['C', '920-4805', '3321', '615000.0', '2017-02-17']
['C', '920-4806', '3321', '615000.0', '2017-02-24']

In [3]:
# 테이블 검색, 결과물을 csv 파일로 출력
import csv
import MySQLdb

# MySQL의 실행결과를 저장할 csv 파일의 경로
output_file = './source/database/mysql_output.csv'
conn = MySQLdb.connect(host='localhost', port=3306, db='sample', user='root', passwd=pw)
cursor = conn.cursor()

# file writer 생성 및 제목행 출력
filewriter = csv.writer(open(output_file, 'w', newline=''), delimiter = ',')

header = ['Supplier Name', 'Invoice Number', 'Part Number', 'Cost', 'Purchase Date']
filewriter.writerow(header)

# sql 실행, 각각의 행을 파일에 출력
cursor.execute('SELECT * FROM Suppliers WHERE Cost > 500000')
rows = cursor.fetchall()
for row in rows:
    filewriter.writerow(row)
    
print("저장되었습니다.")

저장되었습니다.